htlm,
body {
  margin: 0;
  padding: 0;
  background-color: #302e2e;
  font-family: sans-serif;
}
.main {
  height: 100vh;
  width: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}
.todo {
  background-color: #1f1f1f;
  border-radius: 1rem;
  padding: 1rem;
}
.todo h1 {
  text-align: center;
  color: whitesmoke;
}
.addtask {
  display: flex;
}
.addtask input {
  padding: 0.5rem;
  color: rgb(255, 255, 255);
  background-color: rgb(70, 67, 67);
  border: none;
  border-radius: 0.5rem;
}
.addtask button {
  border-radius: 0.5rem;
  border: none;
  margin-left: 5px;
  background-color: #196c2e;
  color: white;
}
ul {
  list-style-type: none;
  padding: 0;
}
ul li {
  text-align: center;
  color: aliceblue;
  padding: 0.8rem;
  border: 1px solid grey;
  border-radius: 0.5rem;
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: space-between;
}
ul li button {
  background-color: rgb(197, 127, 29);
  border: none;
  border-radius: 0.2rem;
  color: white;
}
.completed {
  text-decoration: line-through;
}
